iframe {
    height: 100%;
    width: 100%;
}
.layui-body{
    overflow: hidden;
}
.layui-footer{
    text-align: center;
    font-size: 12px;
}
.iconfont {
    margin-right: 8px;
}
.layui-icon{
    margin-right: 8px;
    margin-left: 20px;
}