iframe {
    height: 100%;
    width: 100%;
}
.layui-body{
    overflow: hidden;
}
.layui-footer{
    text-align: center;
    font-size: 12px;
}
.iconfont {
    margin-right: 8px;
}
.layui-icon{
    margin-right: 8px;
    margin-left: 20px;
}
.layui-side-scroll {
    width: 200px;
}
.layui-side-scroll .userinfo{
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 12px;
    border-bottom:1px solid #000000;
    user-select: none;
}
.user-avatar {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #009688;
    vertical-align: middle;
    line-height: 40px;
    text-align: center;
    margin-right: 10px;
    color: #ffffff;
    font-size: 20px;
}